.edit-board-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    /* position: absolute; */


  transition: background 0.8s;
  overflow: hidden;
  background: none;
  margin: 0px;
}

.editMode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
      overflow-wrap: break-word;
    word-wrap: break-word;
  hyphens: auto;
}



button {
    margin: 10px 10px 0px 5px;
}