.add-new-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    position: absolute;
  height: 25em;
  width: 20em;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: rgb(35, 56, 73);
  box-shadow: 0 70px 63px -60px #d4d0df;
  margin: 0px;
}

.editMode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h3  {
    color: aliceblue;
}

button {
    margin: 30px 10px 0px 10px;
}

label {
    color: aliceblue;
}