<form [formGroup]="taskForm" 
class="add-new-task"
#postForm="ngForm"
(ngSubmit)="onNewColumn(postForm.value)">
  <mat-form-field >
    <label for="">Name</label>
    <input formControlName="name" matInput   type="text" />
  </mat-form-field>
  <mat-form-field>
    <label for="">Description</label>
    <input formControlName="description" matInput   type="text" />
  </mat-form-field>
  <div mat-dialog-actions class="board-create-buttons">
    <button mat-dialog-close >Cancel</button>
    <button type="submit" mat-dialog-close>Add</button>
  </div>
</form>
