<form class="add-board-container" 
#postForm="ngForm" (ngSubmit)="onNewBoard(postForm.value)">
    <a href="#" 
    class="add-new-board" 
    style="cursor: pointer;" 
    (click)="onEdit()"
    *ngIf="addBoard"
    onclick="return false;"
    >
        <div class="wraper">
            <p class="add-board"> Add new board</p>
        </div>
    </a>
    <div class="editMode" *ngIf="!addBoard">
        <h3>Create new board</h3>
        <input type="text" ngModel name="name">
        <div class="board-create-buttons">
            <button class="btn btn-danger" (click)="onCancel(inputEl)">Cancel</button>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
</form>