<a 
        class="Board-Item" 
        style="cursor: pointer;" 
        (click)="onSelect($event)"
        routerLink="boardsItem" 
        onclick="return false;">
            <div class="wraper">
                <h3 class="board-name">{{boards.name}}</h3>
                <div class="item-btns">
                    <button class="btn btn-primary edit" 
                    (click)="onEditBoard($event)"
                    >edit</button>
                    <button class="btn btn-danger delete" (click)="onDeleteBoard($event)" >delete</button>
                </div>
            </div>
        </a>