.add-new-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: absolute;
  height: 25em;
  width: 20em;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background-color: rgb(90, 169, 235);
  box-shadow: 0 70px 63px -60px #d4d0df;
  margin: 0px;
}


h3  {
    color: aliceblue;
}

button {
    margin: 30px 10px 0px 10px;
}

input {
    color: white;
}


mat-label {
    color: aliceblue;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}